version: '3.1'

services:
  db:
    image: postgres:10.4
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: homework_dev
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - .:/app/